.unstyledButton {
  padding: 10px;
  width: 100%;
  border-radius: 7px;
}

.unstyledButtonSelected {
  padding: 10px;
  width: 100%;
  border-radius: 7px;
  background-color: rgb(235 251 238 / 70%);
}

.unstyledButtonText {
  font-size: 18px;
  line-height: 1.55;
}

.unstyledButtonTextSelected {
  color: #2b8a3e;
  font-size: 18px;
  line-height: 1.55;
  font-weight: bold;
}

.unstyledButton:hover {
  background-color: rgb(235 251 238 / 70%);
}
